@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap");
/* font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background: #fff;
  z-index: 100;
}
h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 10px;
}
.box {
  margin-top: 20px;
  width: 32%;
  height: 400px;
  background-size: 100%;
  background-position: center;
  background-clip: padding-box;
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  border-radius: 30px;
  position: relative;
}
.p {
  margin: 0;
  margin-top: 10px;
  font-weight: 600;
}
.audio {
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 85%;
}
span{
  position: absolute;
  top: 10px;
  left: 10px;
}
@media(max-width: 1300px) {
  .container{
    width: 85%;
  }
}
@media(max-width: 1200px) {
  .audio{
    width: 100%;
  }
}
@media(max-width: 1020px) {
  .box{
    width: 48%;
  }
  .audio{
    width: 90%;
  }
}
@media(max-width:750px) {
  .box{
    width: 48%;
  }
  .audio{
    width: 100%;
  }
}
@media(max-width:700px) {
  .box{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .audio{
    width: 85%;
  }
}
@media(max-width:500px) {
  .container{
    width: 100%;
  }
  .box{
    width: 80%;
  }
  .audio{
    width: 85%;
  }
}
@media(max-width:500px) {
  .container{
    width: 100%;
  }
  .box{
    width: 95%;
  }
  .audio{
    width: 98%;
  }
}